/* -- GLOBAL STYLE -- */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-drand);
}

:root {
  --primary-drand: #4d5ae5;
  --text: #434455;
  --white-background: #ffffff;
  --hero-background: #2e2f42;
  --pressed-state: #404bbf;
  --light: #f4f4fd;
}

/* -- INDEX STYLE PAGE -- */
/* -- HEADER -- */
.logo-color {
  color: var(--hero-background);
}

.header-menu-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-background);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state);
}

.header-contacts {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.header-contacts-link {
  color: var(--text);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--pressed-state);
}

/* -- MAIN -- */
/* -- SECTION HERO`S -- */
.heros {
  background-color: var(--hero-background);
}

.heros-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  text-align: center;
}

.heros-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-drand);
  cursor: pointer;
}

.heros-button:hover,
.heros-button:focus {
  background-color: var(--pressed-state);
  color: var(--pressed-state);
}

/* -- SECTION DIGNYTY -- */
.dignity-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
}

.dignity-item-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* -- SECTION DOING -- */
.doing-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
  text-align: center;
}

/* -- SECTION TEAM -- */
.team {
  background-color: var(--light);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
  text-align: center;
}

.team-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
  text-align: center;
}

.team-list-item {
  background-color: var(--white-background);
}

.team-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: center;
}

/* -- FOOTER -- */
.footer {
  background-color: var(--hero-background);
}

.footer-logo-color {
  color: var(--light);
}

.footer-paragraph {
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* -- PORTFOLIO STYLE PAGE -- */
/* -- MAIN -- */
/* -- SECTION FILTER&RESULT -- */
.filter-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-drand);
  background-color: var(--light);
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.result-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
}

.result-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
